<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>GarageHouse</title>
</head>
<body>
  <h1>Product List</h1>
  <a th:href="@{/dashboard}">Dashboard</a>
  <a th:href="@{/product/new}">Create product</a>
  <table>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>created_by</th>
      <th>updated_by</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <tr th:each="product: ${productList}">
      <td th:text="${product.getId()}"></td>
      <td th:text="${product.getName()}"></td>
      <td th:text="${product.getCreatedBy()}"></td>
      <td th:text="${product.getUpdatedBy()}"></td>
      <td th:text="${product.getCreatedAt()}"></td>
      <td th:text="${product.getUpdatedAt()}"></td>
      <td><a th:href="@{'/product/' + ${product.getId()}}">detail</a></td>
    </tr>
  </table>
</body>
</html>