<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.tomosse.garage_house.mapper.extension.ContentDataExtensionMapper">
  <select id="selectByProdcutId" parameterType="java.lang.Long" resultType="work.tomosse.garage_house.model.db.ContentData">
    SELECT id, product_id, created_by, updated_by, created_at, updated_at FROM product WHERE product_id = #{productId}
  </select>
  <select id="selectByProdcutIdAndContentDataId" parameterType="java.lang.Long" resultType="work.tomosse.garage_house.model.db.ContentData">
  </select>
  <insert id="insertReturnId" parameterType="work.tomosse.garage_house.model.db.ContentData">
    insert into content_data (id, product_id, created_by,
      updated_by, created_at, updated_at
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT},
      #{updatedBy,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
      select @@IDENTITY
    </selectKey>
  </insert>
</mapper>