<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.tomosse.mapper.extension.ProductExtensionMapper">
  <select id="selectByName" parameterType="java.lang.String" resultType="work.tomosse.model.db.Product">
    SELECT id, name, created_by, updated_by, created_at, updated_at FROM product WHERE name = #{name}
  </select>
</mapper>